:root{
  font-size: 16px;
}

* {
  --cultured: #F5F5F5;
  --platinum: #E5E5E5;
  --smoky-black: #0D0D09;
  --light-cornflower-blue: #8ECAE6;
  --blue-green: #219EBC;
  --blue-sapphire: #126782;
  --prussian-blue: #023047;
  --oxford-blue: #14213D;
  --honey-yellow: #FFB703;
  --orange-peel: #FD9E02;
  --orange: #FB8500;
  --orange-web: #FCA311;
  transition: 200ms;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--smoky-black);
}

*::-webkit-scrollbar-thumb {
  background: var(--orange-web);
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans JP', sans-serif;
}

#root{
  display: flex;
}

@media screen and (max-width: 900px) {
  #root{
    flex-direction: column-reverse;
  }
}