:root {
  font-size: 16px;
}

* {
  --cultured: #f5f5f5;
  --platinum: #e5e5e5;
  --smoky-black: #0d0d09;
  --light-cornflower-blue: #8ecae6;
  --blue-green: #219ebc;
  --blue-sapphire: #126782;
  --prussian-blue: #023047;
  --oxford-blue: #14213d;
  --honey-yellow: #ffb703;
  --orange-peel: #fd9e02;
  --orange: #fb8500;
  --orange-web: #fca311;
  --text-primary: white;
  --text-secondary: #6649b8;
  --text-tertiary: #e086d3;
  --bg-primary: #23232e;
  --bg-secondary: #2e2e38;
  --bg-scrollbar: #e086d3;
  transition: 200ms;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--smoky-black);
}

*::-webkit-scrollbar-thumb {
  background: var(--orange-web);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Noto Sans JP", sans-serif;
}

#root {
  display: flex;
}

@media screen and (max-width: 900px) {
  #root {
    flex-direction: column-reverse;
  }
}
