/* ---------------------------------- */
/* NAVBAR */
/* ---------------------------------- */

.nav {
  width: 8rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  overflow-x: hidden;
  box-shadow: 0px 1px 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.nav a {
  text-decoration: none !important;
}

.nav img {
  align-self: center;
  width: 6rem;
  margin-top: 2rem;
}

.nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--cultured);
  padding-left: 2.5rem;
}

.nav-item svg {
  width: 3rem;
  height: auto;
}

.nav p {
  display: none;
}

@media screen and (min-width: 1000px) {
  .first {
    margin-top: 2rem;
  }
  .last {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow-x: scroll;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav-item {
    width: 3rem;
    padding: 0rem 1rem;
    justify-content: center;
  }

  .nav img {
    display: none;
  }
}

/* ---------------------------------- */
/* HOVER */

@media screen and (min-width: 1000px) {
  .nav:hover {
    width: 16rem;
  }

  .nav:hover p {
    padding-left: 1rem;
    font-size: 1.25rem;
    display: block;
  }

  .nav-item:hover {
    background-color: var(--cultured);
    color: var(--smoky-black);
  }
}

.nav-item:hover svg {
  transform: rotate(360deg);
  transition: 600ms;
}

/* ---------------------------------- */
/* END */
/* ---------------------------------- */
